

/*Mobile Layout */

.card-container {
    display: flex;
    flex-wrap: wrap;
}

/* Tablet Layout */

@media (min-width: 768px) {
    .card {
        width: calc(50% - 20px);
        margin-right: 20px;
        border-radius: 10px; /* Rounded corners */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
        background-color: #f4f2f7; /* Soft lavender background */
    }
  

 }


/* Desktop layout */

@media (min-width: 1200px) {
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; /* Center the cards horizontally */
    }
  
    .card {
      width: calc(33.333% - 20px);
      margin: 10px;
      border-radius: 10px; /* Rounded corners */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
      background-color: #f4f2f7; /* Soft lavender background */
    }
  }
/* Clear margin for every 3rd card */

.card:nth-child(3n) {
    margin-right: 0;
}


 /*Card styles */

 .card {
    background-color: #59598e;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 24rem; 
    margin: 10px;
    padding: 10px; 
  }

img {
        border: 5px solid #d3a3e6; /* Bright lavender rounded stroke */
        border-radius: 20px;
        width: 100%;
        height: auto;
    }


/* Added Fonts */

body {
    font-family: "Nunito", sans-serif; 
    font-size: 1rem;
    font-weight: 300; 
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
   font-family: "Playfair Display", serif; 
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  h3 {
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  h4, h5, h6 {
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
  }
  
  button {
    font-size: 1rem;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
  }

/* Sections */

.container {
    margin: 3rem auto;
    max-width: 75rem;
    padding: 3rem 1.5rem;
    position: relative;
    background-color: #394867;
}

/* Section Header Content */
.header-container {
    background-color: #c1b5df;
    text-align: center;
    padding: 6rem 1rem;
}