body, html {
    height: 100%;
    margin: 0;
}


/*Mobile Layout */
.card-container {
    align-items: center; 
    display: flex;
    flex-wrap: wrap;
}

/* Tablet Layout */

@media (min-width: 768px) {
    .card {
        width: calc(33.333% - 20px); 
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: #f4f2f7;
        max-width: calc(33.333% - 20px); 
    }

 }


/* Desktop layout */


@media (min-width: 1200px) {
    .card {
        width: calc(33.333% - 20px); 
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: #f4f2f7;
        max-width: calc(33.333% - 20px); 
    }
  }




/* Clear margin for every 3rd card */

.card:nth-child(3n) {
    margin-right: 0;
}

 

 /* Card image styles */

 .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;    
    text-align: center; 
 }

.card {
    width: calc(33.333% - 20px);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f4f2f7;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.card img {
    border: 5px solid #d3a3e6;
    border-radius: 20px;
    width: 100%;
    height: auto;
    max-width: 100%;
    justify-content: center; 

}


/* Added Fonts */

body {
    font-family: "Nunito", sans-serif; 
    font-size: 1rem;
    font-weight: 300; 
    line-height: 1.5;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif; 
    text-align: center; 
}



/* Section Header Content */
.container {
    margin: 3rem auto;
    max-width: 75rem;
    padding: 3rem 1.5rem;
    background-color: #394867;
    text-align: center;
}

.header-container {
    background-color: #c1b5df;
    text-align: center;
    padding: 6rem 1rem;
}
